<%= form_for @new_video do |f| %>
    <%= f.text_field :name %>
    <%= f.file_field :video %>
    <%= f.submit 'Upload' %>
<% end %>

<table>
  <thead>
    <tr><td>Name</td><td>Link</td></tr>
  </thead>
  <tbody>
      <% @videos.each do |video| %>
          <% video_url = root_url + video.url %>
          <tr>
            <td><%= video.name %></td>
            <td><%= link_to video_url, video_url %></td>
          </tr>
      <% end %>
  </tbody>
</table>
